main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.navbar {
  display: flex;
  gap: 200px;
  border: 1px solid red;
  padding: 10px;
}

.nav-links ul {
  display: flex;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.blog {
  display: flex;
}

.title h1 {
  font-size: 60px;
  margin-top: 0px;
}

.sub-article {
  display: flex;
  border: 1px solid red;
}